<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC PLAYER</title>
    <link rel="stylesheet" href="./src/css-webfont/all.css">
    <link rel="stylesheet" href="./src/css/main.css">
    <link rel="stylesheet" href="./src/css/loader.css">
    <link rel="stylesheet" href="./src/css/index.css">
    <script src="./src/js/index.js" defer></script>
</head>

<body>
    <div class="flex-container">
        <header>
            <div class="icon-container">
                <a href="">
                    yuki<span>rythem</span>
                </a>
            </div>
            <nav>
                <button id="OpenSideNav-btn">
                    <div class="icon">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </button>
                <div id="sideNav" class="sidenav">
                    <a id="closeSideNav-btn" class="closebtn">&times;</a>
                    <a href="/" class="active">home</a>
                    <a href="/player">
                        player
                        <i class="far x fa-music"></i>
                    </a>
                    <!-- <a href="/create-playlist">
                        create playlist
                        <i class="far x fa-crown"></i>
                    </a> -->
                    <a href="mailto:elattarayoub000@gmail.com" target="_blank">contact me</a>
                    <!-- <a href="/about">about</a> -->
                    <!-- <a href="/login">sign in</a> -->
                    <!-- <a class="register" href="/register">register</a> -->
                </div>
                <ul>
                    <li><a class="active" href="/">home</a></li>
                    <li><a href="/player">player</a></li>
                    <li><a href="mailto:elattarayoub000@gmail.com" target="_blank">contact me</a></li>
                    <!-- <li><a href="/create-playlist">create playlist</a></li> -->
                    <!-- <li><a href="/about">about</a></li> -->
                    <!-- <li><a href="mailto:elattarayoub@gmail.com" target="_blank">contact us</a></li> -->
                    <!-- <li><a href="/login">sign in</a></li> -->
                    <!-- <li><a class="register" href="/register">register</a></li> -->
                </ul>
            </nav>
        </header>
        <main  id="main">
            <div style="display: flex; justify-content: start; align-items: start; flex-direction: column; padding: 2rem;">
                <h1>Coming soon!</h1>
                <h1>Check the <a href="/player">player</a> the player and enjoy YukiRythem</h1>
                <p>By ELATTAR Ayoub</p>
            </div>
        </main>
        <footer>

        </footer>
    </div>


</body>

</html>