<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC PLAYER</title>
    <link rel="stylesheet" href="./src/css-webfont/all.css">
    <link rel="stylesheet" href="./src/css/main.css">
    <link rel="stylesheet" href="./src/css/resetPlayer.css">
    <script src="./src/js/resetPlayer.js" defer></script>
</head>

<body>
    <div class="reseting-container">
        <div class="reseting">
            <h1>Reseting Playlist ...</h1>
            <div class="loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <a id="backToPlayerLink" href="/player">Back</a>
</body>

</html>