/* loading song Spiner */

.load-spiner {
    /* display: inline-block; */
    position: relative;
    width: var(--smallSpiner);
    height: var(--smallSpiner);
    display: none;
    z-index: 10000;
}
  
  
.load-spiner div {
    position: absolute;
    width: var(--smallSpiner);
    height: var(--smallSpiner);
    margin: 3px;
    border: 3px solid var(--colorSecondary);
    border-radius: 50%;
    animation: load-spiner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--colorSecondary) transparent transparent transparent;
}
  
  
.load-spiner div:nth-child(1) {
    animation-delay: -0.45s;
}
.load-spiner div:nth-child(2) {
    animation-delay: -0.3s;
}
.load-spiner div:nth-child(3) {
    animation-delay: -0.15s;
}
  
  
@keyframes load-spiner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}